<%= form_with(model: login, local: true) do |form| %>
  <% if login.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(login.errors.count, "error") %> prohibited this login from being saved:</h2>

      <ul>
      <% login.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :f_name %>
    <%= form.text_field :f_name, id: :login_f_name %>
  </div>

  <div class="field">
    <%= form.label :l_name %>
    <%= form.text_field :l_name, id: :login_l_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, id: :login_email %>
  </div>

  <div class="field">
    <%= form.label :email_confirmation %>
    <%= form.email_field :email_confirmation, id: :account_confirm_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :login_password %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :login_date %>
  </div>

  <div class="field">
        <%= form.label :Gender %> <br />
        <%= form.label :Gender, 'male' %>
        <%= form.radio_button :gender, 0 %>
        <%= form.label :Gender, 'female' %>
        <%= form.radio_button :gender, 1 %><br />
  </div>

  <div class="field">
    <%= form.label :phn_no %>
    <%= form.number_field :phn_no, id: :login_phn_no %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
