<!DOCTYPE html>
<html>
  <head>
    <title>Validation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
  </head>
  
  <body>
  <%if session[:currrent_user]%>
  <%= link_to 'log_out', sessions_log_out_path, method: :delete%>
  <%end%>
    <%= yield %>
  </body>
</html>
