<%= form_with(model: account, local: true, validate: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :f_name %>
    <%= form.text_field :f_name, id: :account_f_name %>
  </div>

  <div class="field">
    <%= form.label :l_name %>
    <%= form.text_field :l_name, id: :account_l_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, id: :account_email%>
  </div>

  <div class="field">
    <%= form.label :email_confirmation %>
    <%= form.email_field :email_confirmation, id: :account_confirm_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :account_password %>
  </div>

  
  <div class="field">
    <%= form.label :date, "DOB"%>
    <%=form.text_field :date, onchange: "age_calculate(this)"%>
    <%# <%= form.date_select :date, id: :account_date%>
  </div>

  <div id="age_div" style="display: none;">
    <%= form.label :age %>
    <%= form.number_field :age, id: :account_age %>
  </div>

  <div class="field">
        <%= form.label :Gender %> <br />
        <%= form.label :Gender, 'male' %>
        <%= form.radio_button :gender, 0 %>
        <%= form.label :Gender, 'female' %>
        <%= form.radio_button :gender, 1 %><br />
      </div>

  <div class="field">
    <%= form.label :cover %> 
    <%= form.file_field :cover %>
  </div>


  <div class="actions">
    <%= form.submit 'SignUp'%>
  </div>
<% end %>
